body{
    margin: 0px;
}
#pantallaCarga, #escenaInicioJuego{
    width: 100%;
    height: 100%;
    position: absolute;
}
#escenaInicioJuego{
    /*background-image: url(img/fondo.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
}
#pantallaCarga div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    flex-direction: column;
}
.salida{
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes fade-out{
    from {opacity: 100%;}
    to{opacity: 0%;}
}
p.center, h1.center{
    text-align: center;
}
.hoverEnemigo{
    padding: 10px;
}
.hoverEnemigo:hover{
    background-color: aqua;
}
.hoverEnemigo:active{
    background-color: brown;
}
#modal{
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    justify-content: center;
    align-items: center;
}
#seleccionEnemigos{
    display: flex;
    z-index: 0;
}
.modalConfirmacionEnemigo{
    background-color: white;
}
#seleccionEnemigo img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}
#seleccionEnemigos p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
#imagenEnemigo{
    height: 50vh;
}
#escenaCombate{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.luchador{
    width: 200px;
    height: 200px;
}
#barraVidaEnemigo {
    position: absolute;
    width: 50%;
    background: #938f8f;
    height: 20px;
    border-radius: 10px;
    margin-bottom: -50%;
    border: 3px solid #d0cfcf;
    display: flex;
}
#barraVidaPersonaje {
    position: absolute;
    width: 20%;
    background: #938f8f;
    height: 20px;
    border-radius: 10px;
    margin-top: -50%;
    border: 3px solid #d0cfcf;
    display: flex;
    margin-right: 75%;
}
#barraVidaMovil {
    width: calc(100% - 0%);
    height: 20px;
    background: #ce1111;
    border-radius: 6px;
    margin-left: 0px;
}
#barraVidaMovilPersonaje {
    width: 100%;
    height: 20px;
    background: #ce1111;
    border-radius: 6px;
    margin-left: 0px;
    transition: width 1s;
}
#barraVidaEnemigo p{
    position: absolute;
    color: white;
    font-weight: bold;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: calc(50% - 25px);
    text-align: center;
}
#barraVidaPersonaje p{
    position: absolute;
    color: white;
    font-weight: bold;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: calc(50% - 25px);
    text-align: center;
}
#personajeEstadisticas{
    position: absolute;
    margin-left: -80%;
}
#enemigoEstadisticas{
    position: absolute;
    margin-left: 80%;
}